body{padding-top: 48px;}
.fb{background: #3b5998;}
.fb1{background: #627aad;}
.project-name{color: #fff;}
.project-name:hover{color: #fff;}
/*需要辅助col-md-3使用，只是覆盖一下它*/
.col-md-3d5{ width: 30%; }
.col-sm-offset-1d5{ margin-left: 10.333333%;}

.text-small { font-size: 12px !important; }
.text-gray { color: #767676 !important; }
.text-lalign{text-align: left;}

.martop20{margin-top: 20px;}
.marleft10{margin-left: 10px;}

.navbar-nav>li.user-dropdown{}
.navbar-nav>li.user-dropdown a.dropdown-toggle:hover,.navbar-nav>li.user-dropdown a.dropdown-toggle:active,.navbar-nav>li.user-dropdown a.dropdown-toggle:visited{background: #627aad;}
.navbar-nav>li a.user-login-btn{height: 34px;margin: 8px 0px 0px 6px;line-height: 0px;}.navbar-nav>li a.user-login-btn:hover{background:#428bca;}

